h1#travelFilterHeader {
  font-size: 30px;
  margin-bottom: 25px;
}

div#travelFilterDiv {
  margin-left: 30px;
  line-height: 20px;
  margin-bottom: 30px;
}

#dateFrom {
  margin-top: 15px;
  margin-right: 50px;
}

#city {
  margin-top: 15px;
  margin-right: 30px;
}

.TF {
  margin-right: 15px;
}
